.button1{
text-decoration-color: #00ff11;
font-size: 20pt;
border: 6px solid #000000;
outline: 12px solid #ffff00;
min-width: 20px;
min-height: 20px;
max-width: 200px;
max-height: 200px;
border-radius: 20px; 
background-color: #ff0000;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 85px;
margin-right: 85px;
}

.button2{
text-decoration-color: #ff0000;
font-size: 20pt;
border: 6px solid #800080;
outline: 12px solid #adff2f;
min-width: 20px;
min-height: 20px;
max-width: 200px;
max-height: 200px;
border-radius: 20px; 
background-color: #0000ff;
margin-top: 25px;
margin-bottom: 25px;
margin-left: 85px;
}
