.button1{
text-decoration-color: #00ff11;
font-size: 50pt;
border: 6px solid #000000;
outline: 12px solid #ffff00;
padding: 70px 70px;
border-radius: 20px; 
background-color: #ff0000;
margin-bottom: 25px;
margin-top: 25px;
min-width: 70px;
min-height: 70px;
}

.button2{
text-decoration-color: #ff0000;
font-size: 50pt;
border: 6px solid #800080;
outline: 12px solid #adff2f;
padding: 70px 70px;
border-radius: 20px; 
background-color: #0000ff;
margin-bottom: 25px;
margin-top: 25px;
}
