/* Section: Dropdown Menu */
/* classes */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px #00000033;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: block;
}

.dropbtn.active {
    background-color: #3e8e41;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Section: Mobile Optimization */
/* mobile optimization */
/* @media (max-width: 768px) {
    .dropdown {
        display: block;
        width: 100%;
        text-align: center;
    }

    .dropbtn {
        width: 100%;
        padding: 12px;
        font-size: 14px;
    }

    .dropdown-content {
        position: relative;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-content a {
        padding: 10px;
        font-size: 14px;
    }
} */
