/* classes */
.navbar {
    width: 206px;
    height: 100vh;
    background-color: #b4a6a6;
    position: fixed;
    top: 0;
    left: -206px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar-logo {
    width: 100%;
    flex-shrink: 0;
}

.navbar-logo img {
    width: 206px;
    height: 206px;
    object-fit: contain;
    background-color: black;
    display: block;
}

.navbar-ul {
    padding: 0;
    width: 100%;
}

.navbar-ul li {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-ul a {
    display: block;
    padding: 16px;
    font-family: Arial, sans-serif;
    font-size: 16pt;
    color: #50b94a;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-weight: 700;
    text-shadow: 
    -1px -1px 0 black,  
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black;
}

.navbar-ul a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    z-index: -1;
}

.navbar-ul a:hover {
    background-color: red;
    text-decoration: underline;
}

.navbar-ul a:hover::before {
    opacity: 1;
}

.navbar-ul a.active {
    background-color: #50b94a;
    color: white;
}

.toggle-button {
    position: fixed;
    top: 20px;
    left: 10px;
    background-color: #50b94a;
    color: white;
    border: none;
    padding: 10px 10px;
    width: 45px;
    height: 45px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

.navbar.active {
    left: 0;
}

.content {
    transition: 0.3s ease-in-out;
    padding: 20px;
    margin-left: 206px;
}

.navbar.active+.content {
    margin-left: 206px;
}

/* attributes */
#rectangle1 {
    background: red;
    width: 5px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 207px;
    z-index: 1001;
}

#rectangle2 {
    background: pink;
    width: 1px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 207px;
    z-index: 1001;
}

/* elements */
body {
    background-color: seashell;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 14pt;
    overflow: hidden;
    border: #50b94a solid 4px;
    display: grid;
    grid-template-columns: 206px 1fr;
}