/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Prevents overflow */
}

/* Basic Body Styling */
body {
    font-family: 'Aptos', Arial, sans-serif;
    padding: 0.5rem;
}

/* Location Styling */
.location {
    width: 100%;
    margin: auto;
}

/* Padding Utility */
.px-3 {
    margin: 12pt 24pt;
}

.themes-switcher {
    margin-bottom: 1rem !important;
}

form input [type="file"] {
    padding: 0.5rem;
    width: 100%;
    font-family: 'Aptos', Arial, sans-serif !important;
    font-size: 12px !important;
    padding-top: 0px !important;
}

.themes-switcher div {
    font-family: 'Aptos', Arial, sans-serif !important;
    font-size: 18px !important;
}

/* Typography */
.bitter,
.semi-bold p,
div span {
    font-family: 'Aptos', Arial, sans-serif;
    font-weight: 400 !important;
    font-size: 12pt;
}

/* Responsive Adjustments */
@media (max-width: 520px) {
    .location {
        width: 100%;
        margin: auto 1rem;
    }
}

/* Page Banner */
.page-banner::before {
    content: 'test-form1';
    color: black;
}

/* Container */
.container {
    margin-top: 37px;
    margin-bottom: 37px;
    overflow: hidden;
    /* Prevents overflow */
}

/* Form Styling */
form {
    background-color: #ffd0d0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 0.2rem;
    width: 100%;
    margin: 0 auto;
    /* Centered */
    font-family: 'Aptos', Arial, sans-serif;
    font-weight: 400;
    font-size: 12pt;
    box-sizing: border-box;
    /* Prevents overflow */
    overflow: hidden;
    /* Prevents overflow */
}

/* Global Input and Textarea Styling */
form label {
    display: block;
    margin-bottom: 0.25rem;
}

form input,
form select {
    display: block;
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    height: auto;
    border: none;
    resize: none;
    background-color: white;
    cursor: pointer;
}

/* Textarea Specific Styling */
form textarea {
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    height: auto;
    min-height: 50px;
    min-width: 100px;
    overflow: hidden;
    box-sizing: border-box;
    display: block;
    width: 100%;
    cursor: pointer;
}

body.dark-mode form input,
form textarea {
    /* padding: 0.5rem;
    width: 100%;
    height: auto;
    border: none;
    resize: none; */
    background-color: #1E1E1E;
}

/* Textarea Specific Styling */
body.dark-mode form textarea {
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    height: auto;
}

/* Button Group */
form .button-group {
    display: flex;
    gap: 1rem;
    padding: 0.5rem 0;
}

/* Reset and Submit Button Styling */
form input:is([type="reset"], [type="submit"]) {
    background-color: red;
    border: none;
    border-radius: 0.2rem;
    color: white;
    padding: 0.5rem 1rem;
    height: 2rem;
    margin-top: -0.75rem;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    white-space: nowrap;
    /* Prevents text breaking/cutting off */
}

body.dark-mode form input:is([type="reset"], [type="submit"]) {
    background-color: darkblue;
    border: none;
    border-radius: 0.2rem;
    color: white;
    padding: 0.5rem 1rem;
    height: 2rem;
    margin-top: -0.75rem;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    white-space: nowrap;
    /* Prevents text breaking/cutting off */
}

/* Export Button */
#exportButton {
    color: white !important;
    padding: 0.5rem 1rem;
    height: 2rem;
    background-color: red;
    border: none;
    border-radius: 0.2rem;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin-top: 0.5rem;
    white-space: nowrap;
    cursor: pointer;
    /* Prevents text breaking/cutting off */
}

body.dark-mode #exportButton {
    color: white !important;
    padding: 0.5rem 1rem;
    height: 2rem;
    background-color: darkblue;
    border: none;
    border-radius: 0.2rem;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    margin-top: 0.5rem;
    white-space: nowrap;
    /* Prevents text breaking/cutting off */
}

/* Horizontal Form Section */
form .horizontal {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    width: 100%;
    overflow: hidden;
    /* Prevents overflow in horizontal form */
}

form .horizontal>div {
    background-color: red;
    color: white;
    padding: 0.5rem;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

body.dark-mode form .horizontal>div {
    background-color: darkblue;
    color: white;
    padding: 0.5rem;
    width: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

/* File Input */
form input[type="file"] {
    padding: 0.5rem;
    width: 100%;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

input::-webkit-file-upload-button {
    background-color: red;
    color: white;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    margin-right: 0.5rem;
    /* margin-top: 0.5rem; */
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
    cursor: pointer;
}

body.dark-mode input::-webkit-file-upload-button {
    background-color: darkblue;
    /* color: white;
    padding: 0.5rem;
    border-radius: 0.2rem;
    border: none;
    margin-right: 1rem;
    margin-top: 0.5rem;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400; */
}

/* Payment Button */
form #payment-method {
    background-color: red;
    color: white;
    border: none;
    margin-top: 0.5rem;
    padding: 0;
    border-radius: 0.2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

body.dark-mode form #payment-method {
    background-color: darkblue;
    color: white;
    border: none;
    margin-top: 0.5rem;
    padding: 0;
    border-radius: 0.2rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    font-weight: 400;
}

form #payment>label {
    margin-bottom: -0.25rem !important;
    padding-bottom: -0.25rem !important;
    height: auto;
    width: auto !important;
    display: block !important;
    color: black !important;
}

body.dark-mode form #payment>label {
    margin-bottom: -0.25rem !important;
    padding-bottom: -0.25rem !important;
    width: auto !important;
    height: auto;
    display: block !important;
    color: white !important;
}

/* Exam Attempt Section */
form .exam-attempt {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: auto;
    /* Adjust the gap between the checkbox and the label */
}

/* Ensures the checkbox and its text appear correctly aligned */
form .exam-attempt label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-bottom: 0;
    /* Ensures the checkbox and the label are inline */
    padding-bottom: 0;
    /* Ensures the checkbox and the label are inline */
}

form .exam-attempt input[type="checkbox"] {
    width: 16px;
    height: 16px;
    margin: 0;
    /* Ensures the checkbox and the label are inline */
    padding: 0;
    order: 1;
    /* Moves the checkbox to the right of the label */
}

/* Checkbox Styling */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    position: relative;
}

input[type="checkbox"]:checked {
    background-color: red;
    border-color: red;
}

input[type="checkbox"]:checked::after {
    content: '\2714';
    color: #7CFC00;
    font-size: 16px;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark-mode input[type="checkbox"]:checked {
    background-color: black;
    border-color: #32CD32;
}

body.dark-mode input[type="checkbox"]:checked::after {
    content: '\2714';
    color: #32CD32;
    font-size: 16px;
    position: absolute;
    top: -2px;
    left: -2px;
    width: 19px;
    height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="checkbox"]:focus {
    outline: 0;
}

/* Circles/Bullets/Radio Button Styling */
form input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    outline: 1.5px solid #888;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 0;
    /* border-radius: 50%; */
}

form input[type="radio"]:checked {
    background-color: #7CFC00;
    border: 4px solid red;
    outline: 1.5px solid #7CFC00;
}

form input[type="radio"]:focus {
    outline: 1.5px solid #7CFC00;
}

body.dark-mode form input[type="radio"]:checked {
    background-color: #32CD32;
    border: 4px solid black;
    outline: 1.5px solid #32CD32;
}

body.dark-mode form input[type="radio"]:focus {
    outline: 1.5px solid #32CD32;
}

/* Focus Styles */
form input:focus,
form textarea:focus {
    background-color: white;
    outline: 2px solid blue;
}

/* Selection Styling */
::selection {
    background-color: blue;
    color: white;
}

/* Caret Styling */
input,
textarea {
    caret-color: blue;
}

.themes-switcher {
    display: flex;
    border-radius: 0.2rem;
    background: white;
}

.themes-switcher div {
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    height: 2rem;
    padding: 0 0.5rem;
    color: grey;
    cursor: pointer;
}

.themes-switcher .active {
    background: black;
    border-radius: 0.2rem;
    color: white;
}

.business-logo {
    width: 280px;
    height: 150px;
    margin: auto;
}

.business-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

body .only-dark {
    display: none;
}

body.dark-mode .only-light {
    display: none;
}

body.dark-mode .only-dark {
    display: block;
}

body.dark-mode {
    background: black;
}

body.dark-mode form {
    background: #800020;
    color: white;
}

#comment {
    background-color: white;
    color: black;
    border: none;
    padding: 0.5rem;
    width: 100%;
    field-sizing: content;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    resize: none;
}

body.dark-mode #comment {
    background-color: #1E1E1E;
    color: white;
    border: none;
    padding: 0.5rem;
    width: 100%;
    height: auto;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
    resize: none;
}

#comment>label {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    cursor: pointer;
    width: auto;
    height: auto;
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#quantity {
    color: gray !important;
}

body.dark-mode #quantity {
    color: lightgray !important;
}

input::placeholder,
textarea::placeholder,
select::placeholder {
    color: gray;
    opacity: 1;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

body.dark-mode input::placeholder,
textarea::placeholder,
select::placeholder {
    color: lightgray;
    opacity: 1;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: gray;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

body.dark-mode input:-ms-input-placeholder,
textarea:-ms-input-placeholder,
select:-ms-input-placeholder {
    color: lightgray;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

::-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
    color: gray;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

body.dark-mode ::-ms-input-placeholder,
input::-ms-input-placeholder,
textarea::-ms-input-placeholder,
select::-ms-input-placeholder {
    color: lightgray;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

#quantity::placeholder {
    color: gray !important;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

body.dark-mode #quantity::placeholder {
    color: lightgray !important;
    font-family: 'Aptos', Arial, sans-serif;
    font-size: 12pt;
}

select {
    field-sizing: content;
}