/* Horizontal Navigation Bar */
.ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  overflow: hidden;
  height: 80px;
  width: auto;
  display: block;
  text-align: center;
  background-color: skyblue;
  font-size: 20pt;
  position: sticky;
}

.ul a {
  color: seagreen;
  text-decoration: none;
}

.ul a:hover {
  color: yellow;
  text-decoration: none;
}

.li {
  display: block;
  text-align: center;
}

.li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.li a:hover {
  background-color: #111;
}

.active {
  background-color: seashell;
}

body {
  background-color: sandybrown;
}