/* ID */

#header1 {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px 16px;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 300;
    color: aquamarine;
    margin: 0 0 16px;
}

/* #message a {
    display: block;
    text-align: center;
    background: #039BE5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}
*/

/* #message,
#message a {
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}
*/

/* #load {
    color: #00000066;
    text-align: center;
    font-size: 13px;
}
*/

/* @media (max-width: 600px) {
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
        border-top: 16px solid #FFA100;
    }
}
*/


/* Classes */

.h1 {
    background: white;
    max-width: 360px;
    margin: 100px auto 16px;
    padding: 32px 24px 16px;
    border-radius: 3px;
    font-size: 22px;
    font-weight: 300;
    color: aquamarine;
    margin: 0 0 16px;
}

.h2 {
    color: #FFA100;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 8px;
}

.h3 {
    font-weight: normal;
    font-size: 16px;
    margin: 16px 0 12px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
