/* ID */
/* #message a {
    display: block;
    text-align: center;
    background: #039BE5;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    padding: 16px;
    border-radius: 4px;
}
*/

/* #message,
#message a {
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}
*/

/* #load {
    color: #00000066;
    text-align: center;
    font-size: 13px;
}
*/

/* @media (max-width: 600px) {
    #message {
        margin-top: 0;
        background: white;
        box-shadow: none;
        border-top: 16px solid #FFA100;
    }
}
*/

/* Classes */
.header1-h1 {
    background: goldenrod;
    max-width: 400px;
    padding: 16px 16px 16px;
    border-radius: 3px;
    font-size: 16pt;
    font-weight: 300;
    color: aquamarine;
    margin: auto;
    margin-bottom: 16px;
}

.header1 p {
    background: gray;
    max-width: 400px;
    padding: 16px 16px 16px;
    border-radius: 3px;
    font-size: 14pt;
    font-weight: 300;
    color: black;
    margin: auto;
    margin-bottom: 16px;
}

.header2-h2 {
    color: #FFA100;
    padding: 16px 16px 16px;
    font-weight: bold;
    font-size: 18pt;
    margin: auto;
    margin-top: -10px;
}

/* .header2-p {
} */

.header3-h3 {
    padding: 16px 16px 16px;
    font-weight: normal;
    font-size: 18pt;
    color: cadetblue;
    margin: auto;
    margin-top: -15px;
    margin-bottom: -10px;
}

.header3-p {
    background: seashell;
    max-width: 400px;
    padding: 16px 16px 16px;
    border-radius: 3px;
    font-size: 14pt;
    font-weight: 300;
    color: seagreen;
    margin: auto;
    margin-bottom: auto;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}

.text-center {
    text-align: center;
}